[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
cli="python3 edi/cli.py"
check-format="black -t py38 --check --diff edi tests"
format="black -t py38 edi tests"

[packages]
pyaml = ">=20.4.0,<21.0.0"
lxml = ">=4.6.3,<5.0.0"
pydantic = ">=1.8.2,<2.0.0"

[dev-packages]
pytest = ">=6.2.4, <7.0.0*"
black = ">=21.6b0"
pre-commit = ">=2.13.0"

[pipenv]
allow_prereleases = true
