[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
cli="python3 edi/cli.py"
check-format="black -t py38 --check --diff edi tests"
format="black -t py38 edi tests"

[packages]
pyaml = "*"
lxml = "*"
xworkflows = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = {extras = ["d"], version = "*"}
pre-commit = "*"

[pipenv]
allow_prereleases = true
